
body {
  line-height: 1.5;
}

h1{
  color: #00bcd4;
  margin-top: 10px;
  margin-left: 10px;
}


@media (max-width:600px) {

.h1-title {
  font-size: 22px;
}
/*image size*/
  .i-size {
    height: 300px;
  }
}
