
body {
  line-height: 1.5;

}

main {
  margin-left: 10px;
}

h1{
  color: #00bcd4;
  margin-left: 10px;
  font-family: 'Great Vibes', cursive;
}

.h2-ttl {
  font-family: 'Jura', sans-serif;
  text-align: center;
  margin-top: -8px;
  margin-bottom: 18px;
  font-size: 20px;
  color: #55bed6;
  background-color: #e3f2fd;
}

h1, h2{
  margin-top: 10px;
}


@media (max-width:600px) {

.h1-title {
  font-size: 43px;
}
/*image size*/
  .i-size {
    height: 300px;
  }
}
